@media screen and (min-width: 1440px) {
  .product-card {
    flex-direction: row;
    width: 40git%;
  }

  .product-card__image {
    border-radius: 0.625rem 0 0 0.625rem;
    width: 50%;
  }

  
  .product-card__image img{
    border-radius: 0.625rem 0 0 0.625rem;
    height: 100%;
  }
  
  .product-card__info {
    width: 50%;
  }
}