@media screen and (min-width: 370px) {
  .product-card {
    flex-direction: row;
    width: 40vw;
  }
  
  .product-card__image {
    border-radius: 0.625vw 0 0 0.625vw;
    height: 100%;
  }
  
  .product-card__info {
    width: 50vw;
    justify-content: space-between;
  }
}