@media screen and (min-width: 370px) {
  .product-card {
    flex-direction: row;
    width: 40vw;
  }
  
  .product-card__image {
    border-radius: 0.625rem 0 0 0.625rem;
    height: 100%;
  }
  
  .product-card__info {
    width: 70vw;
    justify-content: space-evenly;
  }
}